---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
type: Opaque
data:
    {{- $files := .Files }}
    {{- if .Values.fileLit }}
    {{- range $key, $val := .Values.fileLit }}
    {{ $key }}: {{ $files.Get $val | b64enc }}
    {{- end }}
    {{- end }}
    {{- if .Values.dirglob }}
    {{- range $path, $bytes := $files.Glob .Values.dirglob }}
    {{ $path }}: |-
    {{ $files.Get $path | b64enc }}
    {{- end }}
    {{- end }}
    {{- if .Value.seclit }}
    {{- range $key, $val := .Values.seclit }}
    {{ $key }}: {{ $val }}
    {{- end }}
    {{- end }}
